<% @verses.each_with_index do |words, i| %>
  <% verse = i + 1 %>
  <% f = Formatter.new(words) %>
  <p class="greek"><strong><%= verse %></strong> &mdash; <%= f.greek %></p>
  <p class="mt"><%= f.mt %></p>
  <p class="rmt"><%= f.rmt %></p>
<% end %>
