* {
  font-family: sans-serif;
  color: #333;
}
p.greek {
  clear: both;
  margin: 0.5em 1em;
  font-weight: bold;
}
p.mt {
  width: 45%;
  float: left;
  margin: 0 1em 3em;
  padding: 0.5em;
  background: #EEE;
}
p.rmt {
  width: 45%;
  float: right;
  margin: 0 1em 3em;
  padding: 0.5em;
  background: #EEE;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
form {
  margin: 1em;
}
.span-left {
  width: 320px;
  clear: left;
  float: left;
  margin: 0.5em 0;
}
.span-right {
  float: left;
  margin: 0.5em 0;
}
.span-full {
  width: 640px;
  clear: both;
  float: left;
  margin: 0.5em 0;
}
fieldset {
  width: 260px;
}
textarea {
  width: 600px;
  height: 5em;
}
sup, .proper {
  font-style: italic;
}
sub.note {
  color: #999;
}
sub.note a {
  color: #999;
  cursor: help;
}
a.masculine,
a.nsm,  a.gsm,  a.dsm,  a.asm,  a.vsm,  a.npm,  a.gpm,  a.dpm,  a.apm,  a.vpm,
a.nsmc, a.gsmc, a.dsmc, a.asmc, a.vsmc, a.npmc, a.gpmc, a.dpmc, a.apmc, a.vpmc,
a.nsms, a.gsms, a.dsms, a.asms, a.vsms, a.npms, a.gpms, a.dpms, a.apms, a.vpms,
a.papnsm, a.papgsm, a.papdsm, a.papasm, a.papvsm, a.papnpm, a.papgpm, a.papdpm, a.papapm, a.papvpm,
a.pdpnsm, a.pdpgsm, a.pdpdsm, a.pdpasm, a.pdpvsm, a.pdpnpm, a.pdpgpm, a.pdpdpm, a.pdpapm, a.pdpvpm,
a.popnsm, a.popgsm, a.popdsm, a.popasm, a.popvsm, a.popnpm, a.popgpm, a.popdpm, a.popapm, a.popvpm,
a.pnpnsm, a.pnpgsm, a.pnpdsm, a.pnpasm, a.pnpvsm, a.pnpnpm, a.pnpgpm, a.pnpdpm, a.pnpapm, a.pnpvpm,
a.pppnsm, a.pppgsm, a.pppdsm, a.pppasm, a.pppvsm, a.pppnpm, a.pppgpm, a.pppdpm, a.pppapm, a.pppvpm {
  color: blue;
}
a.feminine,
a.nsf,  a.gsf,  a.dsf,  a.asf,  a.vsf,  a.npf,  a.gpf,  a.dpf,  a.apf,  a.vpf,
a.nsfc, a.gsfc, a.dsfc, a.asfc, a.vsfc, a.npfc, a.gpfc, a.dpfc, a.apfc, a.vpfc,
a.nsfs, a.gsfs, a.dsfs, a.asfs, a.vsfs, a.npfs, a.gpfs, a.dpfs, a.apfs, a.vpfs,
a.papnsf, a.papgsf, a.papdsf, a.papasf, a.papvsf, a.papnpf, a.papgpf, a.papdpf, a.papapf, a.papvpf,
a.pdpnsf, a.pdpgsf, a.pdpdsf, a.pdpasf, a.pdpvsf, a.pdpnpf, a.pdpgpf, a.pdpdpf, a.pdpapf, a.pdpvpf,
a.popnsf, a.popgsf, a.popdsf, a.popasf, a.popvsf, a.popnpf, a.popgpf, a.popdpf, a.popapf, a.popvpf,
a.pnpnsf, a.pnpgsf, a.pnpdsf, a.pnpasf, a.pnpvsf, a.pnpnpf, a.pnpgpf, a.pnpdpf, a.pnpapf, a.pnpvpf,
a.pppnsf, a.pppgsf, a.pppdsf, a.pppasf, a.pppvsf, a.pppnpf, a.pppgpf, a.pppdpf, a.pppapf, a.pppvpf {
  color: red;
}
a.neuter,
a.nsn,  a.gsn,  a.dsn,  a.asn,  a.vsn,  a.npn,  a.gpn,  a.dpn,  a.apn,  a.vpn,
a.nsnc, a.gsnc, a.dsnc, a.asnc, a.vsnc, a.npnc, a.gpnc, a.dpnc, a.apnc, a.vpnc,
a.nsns, a.gsns, a.dsns, a.asns, a.vsns, a.npns, a.gpns, a.dpns, a.apns, a.vpns,
a.papnsn, a.papgsn, a.papdsn, a.papasn, a.papvsn, a.papnpn, a.papgpn, a.papdpn, a.papapn, a.papvpn,
a.pdpnsn, a.pdpgsn, a.pdpdsn, a.pdpasn, a.pdpvsn, a.pdpnpn, a.pdpgpn, a.pdpdpn, a.pdpapn, a.pdpvpn,
a.popnsn, a.popgsn, a.popdsn, a.popasn, a.popvsn, a.popnpn, a.popgpn, a.popdpn, a.popapn, a.popvpn,
a.pnpnsn, a.pnpgsn, a.pnpdsn, a.pnpasn, a.pnpvsn, a.pnpnpn, a.pnpgpn, a.pnpdpn, a.pnpapn, a.pnpvpn,
a.pppnsn, a.pppgsn, a.pppdsn, a.pppasn, a.pppvsn, a.pppnpn, a.pppgpn, a.pppdpn, a.pppapn, a.pppvpn {
  color: green;
}
a.highlighted {
  background: yellow;
}
dl {
  margin: 1em;
}
dl dt {
  clear: left;
  float: left;
  width: 140px;
  margin-top: 1em;
  border-top: 1px solid #EEE;
}
dl dt:after {
  content: ':';
}
dl dd {
  float: left;
  width: 500px;
  margin-top: 1em;
  border-top: 1px solid #EEE;
}

.clear {
  clear: both;
}
div.button {
  margin: 1em;
  padding-top: 2em;
}
div.button a {
  background: #EEE;
  padding: 4px;
  border-top: 1px solid #CCC;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #CCC;
}
div.button a:hover {
  text-decoration: none;
}
div.footer {
  clear: both;
  margin: 10em 1em 1em;
  font-size: 80%;
}

